body {
  font-family: 'Lilita One', cursive;
}


h1 {
  font-size: clamp(15px, 5vw, 50px);
  text-align: center;
  border: #3B3939 2px solid;
  margin: 0 20px 10px;

}

.accueilP {
  font-size: clamp(15px, 2vw, 25px);
  margin: 25px 0px 10px;
  display: flex;
  justify-content: center;
}

.containerChoix {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* gap: 2em 2em; */
  /* grid-auto-flow: row; */
  grid-template-areas:
    "grid-item1 grid-item2"
    "grid-item3 grid-item4";
}

.grid-item1 {
  grid-area: grid-item1;
}

.grid-item2 {
  grid-area: grid-item2;
}

.grid-item3 {
  grid-area: grid-item3;
}

.grid-item4 {
  grid-area: grid-item4;
}



.lienBtn {
  display: flex;
  justify-content: center;
}

.mainForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: clamp(25px, 2vw, 50px);
  margin-bottom: clamp(15px, 2vw, 50px);
}

a {
  text-decoration: none;
  color: black;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

#sendBtn {

  font-size: clamp(8px, 2vw, 15px);
  border-radius: 5%;
  cursor: pointer;
  padding: clamp(5px, 2vw, 10px);
  margin-top: 10px;
  margin-right: 5px;
  background-color: #3B3939;
  color: #F1BB46;
}

#backBtn,
#updateBtn {
  margin-top: 10px;
  font-size: clamp(8px, 2vw, 15px);
  border-radius: 5%;
  cursor: pointer;
  padding: clamp(5px, 2vw, 10px);
  margin-right: 5px;
  background-color: #F1BB46;
  color: #3B3939;

}

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  background-color: #3B3939;
  box-shadow: 10px 3px 4px #232222;
  color: #F1BB46;
  margin-right: 30px;
}

#addBtn {

  font-size: clamp(8px, 2vw, 15px);
  border-radius: 5%;
  cursor: pointer;
  color: #F1BB46;
  font-weight: 600;
  padding: clamp(10px, 2vw, 20px);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.addBtnBackBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}


.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: clamp(10px, 2vw, 20px);
  margin-bottom: clamp(10px, 2vw, 30px);
}



.deleteBtn {
  background-color: #F1BB46;
  color: #3B3939;
  font-size: clamp(8px, 2vw, 15px);
  border-radius: 5%;
  cursor: pointer;
  padding: clamp(5px, 2vw, 10px);
  margin-right: 5px;
}

#btn,
#adminBtn,
#btnAccueil {
  color: #F1BB46;
}



.updateBtn {
  background-color: #3B3939;
  padding: clamp(5px, 2vw, 10px);
  font-size: clamp(8px, 2vw, 15px);
  border-radius: 5%;
  cursor: pointer;
  margin-right: 5px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

#triskell {
  width: clamp(100px, 100vw, 900px);
  justify-content: center;
}

input {
  margin-right: clamp(10px, 2vw, 20px);
  height: clamp(20px, 3vw, 50px);
  width: clamp(100px, 15vw, 200px);
  margin-top: clamp(10px, 2vw, 20px);
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: clamp(10px, 2vw, 20px);
  margin-bottom: clamp(10px, 2vw, 20px);

}

select {
  margin-right: clamp(10px, 2vw, 20px);
  height: clamp(20px, 3vw, 50px);
  width: clamp(100px, 15vw, 200px);
  margin-top: clamp(10px, 2vw, 20px);
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px 20px 0;
}

li {
  font-size: clamp(12px, 2vw, 35px);
  list-style-type: none;

}

.adminInput {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: clamp(10px, 2vw, 20px);
  margin-bottom: clamp(10px, 2vw, 20px);
  border-radius: 5%;
  border: #3B3939 2px solid;
}



.adminForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: clamp(10px, 2vw, 20px);
  margin-bottom: clamp(10px, 2vw, 20px);
}

.alertAdmin {
  font-size: 20px;
  color: red;
}





.mailTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: 20px;
}

.mailConcours {
  font-size: 18px;
  margin: 10px 0;
  font-size: clamp(20px, 2vw, 25px);
}

.mailParticipe {
  font-size: clamp(15px, 2vw, 20px);
}