<footer class="footer">


    <section class="container-finDePage">
        <div class="content-finDePage">
            <h2 id="passez">Passez Bientôt ! </h2>
            <p id="love">Vous avez aimé votre expérience chez nous ?<br />
                Parlez-en autour de vous !</p>
            <div class="adresse">
                <h3 class="titreFinDePage">Ker Rozenn</h3>
                <p>26 quai des Terre-Neuvas - Dahouët - 22370 PLENEUF VAL ANDRÉ</p>
            </div>
            <div class="mail">
                <h3 class="titreFinDePage">Adresse e-mail</h3>
                <p>rozenn@sitevraimentsuper.fr</p>
            </div>
            <div class="phoneNumber">
                <h3 class="titreFinDePage">Numéro de téléphone</h3>
                <p>02 96 41 00 16</p>
            </div>


            <div class="moyenPaiement">
                <div class="container-paiement">
                    <div class="cb"><img src="../assets/logo-cb-1.jpg" alt="paiement1"></div>
                    <div class="visa"><img src="../assets/logo-visa-1.png" alt="paiement2"></div>
                    <div class="mastercard"><img src="../assets/MasterCard-Logo-1.png" alt="paiement3"></div>
                </div>
            </div>
        </div>
    </section>


    <p id="footer">&copy; 2023 Crêperie Ker Rozenn. Tous droits réservés.</p>
    <div class="btnAdmin">
    <a href="/admin"><button id="adminBtn">Administration</button></a>
    </div>  
    <p id="footerMentions"><a href="/mentions_legales">Mentions Légales</p></a>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</footer>
</body>


</html>