<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d4260a2566.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/avis.css">
    <script src="../javascript/home.js" defer></script>

    <title>Crêperie Ker Rozenn</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>

<body>

    <header class="header">

        <section class="p-menu1">

            <div id="mySidenav" class="sidenav">
                <a id="closeButton" href="#" class="close">×</a>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/#apropos">A propos</a></li>
                    <li><a href="/avis">Avis</a></li>
                    <li><a href="/#carte">Carte</a></li>
                    <li><a href="/#valeurs">Nos Valeurs</a></li>
                    <li><a href="/#passez">Contact</a></li>
                </ul>
            </div>

            <a href="#" id="openBtn">
                <span class="burger-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>


        </section>