/* *****************************************************************+
RESET
***************************************************************** */

html,
body {
    margin: 5px 10px;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    box-sizing: border-box;
}



html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

/* *****************************************************************
GENERAL
***************************************************************** */

body {
    font-family: 'Lilita One', cursive;
    line-height: 1.5;
    font-size: 1.6rem;
    color: #3B3939;
}

h1 {
    font-size: 5rem;
    text-align: center;
}


h2 {
    font-size: 4.5rem;
    margin: 4rem 0 2rem 0;
    text-align: center;
}

p {
    margin-bottom: 1.5rem;
}



a:-webkit-any-link {
    color: black;

}

/* *****************************************************************
HEADER
***************************************************************** */


.p-menu1 {
    margin-left: 3rem;
    margin-top: 1rem;
}

.hero {
    background-color: #3B3939;
    text-align: center;

}

.hero-content {
    color: #F1BB46;
    height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#titleRozenn {
    font-size: clamp(10px, 8vw, 80px);
    height: clamp(10px, 1.5vw, 50px);
    letter-spacing: clamp(0.3px, 0.5vw, 5px);
    margin-top: 20px;

}

#triskell {
    max-width: 100%;
    width: clamp(50px, 5vw, 150px);
    padding-top: 15px;
}


#punchline {
    font-size: clamp(20px, 1vw, 80px);
    margin-top: 0rem;


}




/* Sidenav menu */

#mySidenav.sidenav.active {
    height: clamp(400px, 40vw, 600px);
}

.sidenav {
    height: 40%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;

    background: rgb(241, 187, 70);
    background: linear-gradient(180deg, rgba(241, 187, 70, 1) 1%, rgba(243, 210, 138, 1) 15%, rgba(245, 227, 187, 1) 78%);
    padding-top: 10px;
    transition: left 0.5s ease;
    border-radius: 1rem;

}

/* Sidenav menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-weight: 600;
    color: #3B3939;
    display: block;
    transition: 0.3s;



}

.sidenav a:hover,
.sidenav a:focus,
.sidenav a.current {
    color: #F1BB46;

}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Active class */
.sidenav.active {
    left: 0;
}

/* Close btn */
.sidenav .close {
    position: absolute;
    top: 0;
    margin-left: 16rem;
    font-size: 36px;
    color: #3B3939;

}

/* Icône burger */
.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;


}

.burger-icon {
    position: absolute;
    top: 3%;
    left: 8%;


}

/* *****************************************************************
FOOTER
***************************************************************** */
#footer {
    margin-top: 5rem;
    text-align: center;
    min-width: 370px;
}

.container-finDePage {
    background-color: #3B3939;
    margin-top: 3em;
    color: white;
    text-align: center;
    padding: 0 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0em 0em;
    grid-auto-flow: row;
    grid-template-areas:
        ". content-finDePage .";

}


.content-finDePage {
    grid-area: content-finDePage;
    text-align: center;
}


.titreFinDePage {
    background-color: #F1BB46;
    color: #3B3939;
    border-radius: 5rem;
}

#passez {
    color: #F1BB46;
}

#love {
    text-align: center;
    color: #F1BB46;
}

/* moyens de paiement */

.moyenPaiement {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.container-paiement {
    width: 80%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "cb visa mastercard";
}

.cb {
    grid-area: cb;
    width: 6rem;
    padding-right: 1.3rem;
}

.visa {
    grid-area: visa;
    width: 6rem;
}

.mastercard {
    grid-area: mastercard;
    width: 6rem;
}



/* *****************************************************************
A-PROPOS
***************************************************************** */
#apropos {
    color: #3B3939;
    font-size: clamp(25px, 5vw, 55px);
    text-align: center;

}

.container-about {
    display: block;

}

.content p {
    font-size: clamp(16px, 1.5vw, 25px);
}

.content {
    margin: 0 4rem;
    text-align: justify;

}

#rozenn {
    border-radius: 2rem;
    padding: 1rem;

}



/* *****************************************************************
AU MENU
***************************************************************** */

.container-carte {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #3B3939;
    transition: 0.9s;
    transform: translateX(-100%);
}

#carte {
    color: #F1BB46;
    font-size: 4.5rem;

}

.au-menu {
    margin-top: 1rem;
    text-align: center;
}

.content-carte {
    width: 100%;
    max-width: 300px;
    /* Ajustez la largeur maximale selon vos besoins */
    margin: 0 auto;
    /* Centrez horizontalement le contenu */
}

.crepe,
.galette,
.cidre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    /* Ajoutez de l'espace entre chaque élément */
    position: relative;
}

.cidre {
    margin-bottom: 50px;
}

.p-carte,
.p-carte-cidre {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    bottom: -75px;
    left: 0;
    right: 0;
    margin-bottom: 5rem;

}

.p-carte-cidre {
    margin-bottom: 10rem;
}

.crepe img,
.galette img,
.cidre img {
    max-width: 100%;
}

#crepe,
#galette,
#cidre {
    border-radius: 10%;
}


/* *****************************************************************
POP-UP CONCOURS
***************************************************************** */
#concours {
    text-align: center;

}

form#concoursForm {
    margin-bottom: 30px;
}

.pop-up {
    position: fixed;
    right: 0.5rem;
    bottom: 3rem;
    height: 120px;
    width: 100%;
    text-align: center;
    background: linear-gradient(90deg, #F1BB46, rgb(252, 225, 166));
    border-radius: 10% 10% 10% 10% / 20% 20% 20% 20%;
    box-shadow: 0 5px 10px black;
    opacity: 0;
    transform: translateX(45px);
    transition: 1s ease-out;
}

.pop-up-container {
    width: 80%;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -45%);
}

.pop-up-container h3 {
    padding-top: 2rem;
    color: #3B3939;
    margin: 1rem 0.3rem;
    font-size: 1rem;
}

.button-container input {
    border: 1px solid #333;
    padding: 1rem 2rem;
    border-radius: 15px;
    box-shadow: 1px 2px 0 black;
    outline: none;
    font-size: 1.2rem;
    transition: 0.5s;
}

.button-container input:focus {
    background: rgb(252, 225, 166);
}

.button-container button {
    border-radius: 15px;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: 1px solid #333;
    outline: none;
    cursor: pointer;
    background: white;
    box-shadow: 1px 2px 0 black;
    transition: 0.3s;
    cursor: pointer;
}

.button-container button:hover {
    background: #F1BB46;
    transform: translateX(-1px);
}

.button-container button:active {
    transform: scale(0.96);
}

i#closeBtn.far.fa-times-circle {
    margin-top: 20px;
}

.fa-times-circle {
    position: absolute;
    left: 2rem;
    top: 0.7rem;
    font-size: 1.7rem;
    color: white;
    text-shadow: 2px 2px 0px #333;
    cursor: pointer;
    transition: 0.3s;
}

.fa-times-circle:hover {
    color: rgb(252, 225, 166);
    transform: translateX(-1px);
}

.fa-times-circle:active {
    transform: scale(1.5);
}


/* *****************************************************************
NOS VALEURS
***************************************************************** */
.container-valeurs {
    margin: 0 10px;
    align-items: center;
    text-align: center;
}

.content-valeurs {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    text-align: center;

}

#valeurs {
    color: #3B3939;
    font-size: clamp(25px, 5vw, 55px);
    text-align: center;

}

#contentValues {
    text-align: left;
    font-size: clamp(16px, 1.5vw, 25px);

}

.nosValeurs {
    background-color: #F1BB46;
    border-radius: 10%;
    min-width: 271px;
}

.valeursP {
    padding: clamp(0rem, 2%, 1rem);
}

.fa-solid {
    background-color: #3B3939;
    color: white;
    width: 10%;
    border-radius: 50% / 100%;
}


/* **************************************************************
PAGE CARTE 
************************************************************** */

.carteCrepes {
    text-align: center;
    /* Centre le contenu de la carteCrepes horizontalement */

}

li {
    display: flex;
    /* Utilise Flexbox pour aligner les éléments en ligne */
    justify-content: space-between;
    /* Place crepeSort à gauche et price à droite */
    align-items: center;
    /* Centre verticalement le contenu des éléments li */
    margin-bottom: 10px;
    /* Ajoute un espacement entre les éléments de liste */
}

.crepeSort {
    flex-grow: 1;
    /* Permet à crepeSort de prendre l'espace disponible restant */
    text-align: left;
    /* Aligne crepeSort à gauche */
    font-size: 1.2rem;



}

.price {
    text-align: right;
    /* Aligne price à droite */
    padding-right: 30px;

}

/* **************************************************************
PAGE RESTAURANT 
************************************************************** */
#lien-carte-resto {
    text-decoration: none;
    color: white;
}

.restaurant {

    text-align: center;
}

.restaurants-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 4rem;
}

#categoryTitle {
    font-size: 2.5rem;
    color: white;
    background: #3B3939;
    padding-left: 15px;

}



/* **************************************************************
ANIMATION INFO RESTAURANT SUR PHOTO RESTAURANT 
************************************************************** */
.info-content {
    font-size: clamp(13px, 1vw, 20px);
}

.restaurant-image {
    position: relative;
    display: inline-block;
}

.restaurant-info {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(59, 57, 57, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
    display: none;
    width: 90%;
}

.info-content {
    text-align: center;
}

.restaurant-image:hover .restaurant-info {
    display: block;
}

/* *****************************************************************
BOUTONS ADMIN DANS FOOTER
***************************************************************** */

#adminBtn {
    background-color: #cac6c6;
    border-radius: 5%;
    padding: 10px;
    margin: 10px;
    color: #3B3939;
    font-size: 1rem;
    border: solid 1px #3B3939;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;

}

.btnAdmin {
    display: flex;
    justify-content: center;
}

/* *****************************************************************
BOUTONS ADMIN DANS FORMULAIRE
***************************************************************** */
.linkSubmit {
    text-decoration: none;
}

.adminForm {
    text-align: center;
    padding: 0 3rem;

}


.identifiantIncorrect {
    color: red;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.adminBtn {
    background-color: #F1BB46;
    border-radius: 5%;
    padding: 10px;
    margin: 10px;
    color: #3B3939;
    font-size: 2rem;
    border: solid 1px #3B3939;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;

}

.containerConnexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.submitBtn {
    display: flex;
    justify-content: center;
}

/* *****************************************************************
MENTIONS LEGALES CNIL
***************************************************************** */

#dateMentions,
#legalPlace,
#footerMentions {
    text-align: center;

}


#footerMentions {
    font-size: 1.2rem;
}

.containerMentions {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: #3B3939;
}

.cnil {
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #3B3939;
    text-align: center;
    line-height: 1.2rem;
    font-style: italic;

}



/* *****************************************************************
ECRAN de 600 @ 768px
***************************************************************** */
@media screen and (min-width: 600px) and (max-width: 768px) {

    .burger-icon {
        left: 3%;
    }

    #kerrozenn {
        padding-top: 2rem;
        font-size: 3.5em;
    }

    .crepeSort {


        font-size: 2.2rem;
    }

    .price {


        font-size: 2.2rem;
    }



    /* **************************************************************
PAGE RESTAURANT 
************************************************************** */
    /* Styles pour la grille de restaurants */
    .restaurant-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* Espacement entre les éléments */
        max-width: 800px;
        /* Largeur maximale de la grille */
        margin: 0 auto;
        /* Centrer la grille horizontalement */

    }

    .row {
        flex: 0 1 calc(50% - 10px);
        */
        /* 2 éléments par ligne, avec un espacement de 10px entre eux */
        margin-bottom: 20px;

        /* Espacement entre les lignes
    }

    .restaurant {
        text-align: center;
    }

    .restaurant img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }


    /* *****************************************************************
POP-UP CONCOURS
***************************************************************** */
        form#concoursForm {
            margin-bottom: 0px;
        }

        .pop-up {
            position: fixed;
            right: 2rem;
            bottom: 2rem;
        }

        .pop-up-container {
            width: 100%;
            top: 45%;
            left: 50%;
        }




    }

    /* *****************************************************************
ECRAN de 769 @ 1024px
***************************************************************** */
    @media screen and (min-width: 769px) and (max-width: 1024px) {


        .p-carte,
        .p-carte-cidre {

            margin-bottom: 10rem;

        }

        .p-carte-cidre {
            margin-bottom: 5rem;
            margin-right: 2rem;
        }

        .content-carte {
            max-width: 1900px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-auto-columns: 1fr;
            gap: 0em 2em;
            grid-auto-flow: row;
            grid-template-areas: "au-menu crepe galette cidre";
        }

        .au-menu {
            grid-area: au-menu;
            display: flex;
            justify-content: center;
            flex-direction: column;

        }

        .crepe {
            grid-area: crepe;
        }

        .galette {
            grid-area: galette;
        }

        .cidre {
            grid-area: cidre;
        }


        .pop-up {

            right: 2rem;
            bottom: 0rem;
            height: 110px;
            width: 520px;


        }

        .crepeSort {


            font-size: 3rem;
        }

        .price {


            font-size: 3rem;
        }






        /* **************************************************************
    PAGE RESTAURANT 
    ************************************************************** */
        /* Styles pour la grille de restaurants */
        .restaurant-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            /* Espacement entre les éléments */
            max-width: 800px;
            /* Largeur maximale de la grille */
            margin: 0 auto;
            /* Centrer la grille horizontalement */
        }

        .row {
            flex: 0 1 calc(50% - 10px);
            /* 2 éléments par ligne, avec un espacement de 10px entre eux */
            margin-bottom: 20px;
            /* Espacement entre les lignes */
        }

        .restaurant {
            text-align: center;
        }

        .restaurant img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

        /* *****************************************************************
    NOS VALEURS
    ***************************************************************** */

        .container-valeurs {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

        }


        .nosValeurs {
            margin-top: 15px;
        }

        /* *****************************************************************
POP-UP CONCOURS
***************************************************************** */
        form#concoursForm {
            margin-bottom: 0px;
        }

        .pop-up {
            position: fixed;
            right: 2rem;
            bottom: 2rem;
        }

        .pop-up-container {
            width: 100%;
            top: 45%;
            left: 50%;
        }



        .burger-icon {
            left: 3%;
        }


    }


    /* *****************************************************************
ECRAN de 1024 ET +
***************************************************************** */
    @media screen and (min-width: 1024px) {

        /* *****************************************************************
AFFICHAGE CARTE
***************************************************************** */
        .crepeSort {

            font-size: 3.5rem;
        }

        .price {


            font-size: 3.5rem;
        }


        /* *****************************************************************
    NOS VALEURS
    ***************************************************************** */

        .container-valeurs {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

        }

        .content-valeurs {
            margin-right: 20px;

        }

        #valeurs {
            text-align: left;
        }

        .nosValeurs {
            margin-top: 15px;
            margin-left: 20px
        }

        .sidenav {
            padding-top: 60px;
        }

        .sidenav a {
            font-size: 2rem;
        }

        .container-about {
            display: flex;
            align-items: center;
            /* Centrer le contenu verticalement */
        }

        .photo-about {
            order: 2;
            /* Placer la photo à droite */
            flex: 1;
            /* Prend 1/3 de l'espace disponible */
            margin-top: 2%;
            padding-right: 2%;
            padding-left: 2%;


        }

        .content {
            order: 1;
            /* Placer les paragraphes à gauche */
            flex: 2;
            /* Prend 2/3 de l'espace disponible */
            margin-left: 3rem;
            padding-right: 1%;
            padding-left: 1%;
            /* Ajouter de l'espace autour du contenu */

        }



        .p-carte,
        .p-carte-cidre {

            margin-bottom: 12rem;

        }

        .p-carte-cidre {
            margin-bottom: 7.1rem;
            margin-right: 2rem;
            width: 100%;
        }



        .content-carte {
            max-width: 3000px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 0.1fr;
            grid-template-rows: 1fr;
            grid-auto-columns: 1fr;
            gap: 0 3rem;
            grid-auto-flow: row;
            grid-template-areas: "au-menu crepe galette cidre";
        }

        .au-menu {
            grid-area: au-menu;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .crepe {
            grid-area: crepe;
        }

        .galette {
            grid-area: galette;
        }

        .cidre {
            grid-area: cidre;

        }

        /* **************************************************************
PAGE RESTAURANT 
************************************************************** */
        /* Styles pour la grille de restaurants */
        .restaurant-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            /* Espacement entre les éléments */
            max-width: 1000px;
            /* Largeur maximale de la grille */
            margin: 0 auto;
            /* Centrer la grille horizontalement */
        }

        .row {
            flex: 0 1 calc(50% - 50px);
            /* 2 éléments par ligne, avec un espacement de 10px entre eux */
            margin-bottom: 20px;
            /* Espacement entre les lignes */
        }

        .restaurant {
            text-align: center;
        }

        .restaurant img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

        /* *****************************************************************
POP-UP CONCOURS
***************************************************************** */
        .pop-up {

            right: 5rem;
            bottom: -0rem;
            height: 110px;
            width: 40%;
        }

        .pop-up-container {
            width: 100%;
            top: 45%;
            left: 55%;
            transform: translate(-50%, -45%);
        }
    }

    /* *****************************************************************
ECRAN A PARTIR DE 1200px
***************************************************************** */



    /* *****************************************************************
POP-UP CONCOURS
***************************************************************** */
    @media screen and (min-width: 1200px) {
        .crepeSort {
            padding-left: 250px;
        }

        .price {
            padding-right: 200px;
        }

        #categoryTitle {
            margin-left: 250px;
            margin-right: 200px;
        }



        .pop-up {

            right: 5rem;
            bottom: -0rem;
            height: 110px;
            width: 30%;
        }

        .pop-up-container {
            width: 100%;
            top: 45%;
            left: 55%;
            transform: translate(-50%, -45%);
        }


        .burger-icon {
            left: 3%;
        }


    }



    /* *****************************************************************
ECRAN de 1665px ET +
***************************************************************** */
    @media screen and (min-width: 1665px) {



        .crepeSort {


            font-size: 3.7rem;
        }

        .price {


            font-size: 3.7rem;
        }

    }