<%- include('includes/header') -%>




<h2>Les boissons</h2>
<main class="carteCrepes">

    <ul>
        <% boissons.forEach(function(boisson) { %>
        <li>
            <span class="crepeSort"><%= boisson.name %></span>
            <span class="price"><%= boisson.price.toFixed(2) %> €</span>
        </li>

        <% }); %>
    </ul>


</main>



<%- include('includes/footer') -%>