<%- include('includes/header') -%>



<h2>Les crêpes</h2>
<main class="carteCrepes">

    <ul>
        <% crepeCarte.forEach(function(crepe) { %>
        <li>
            <span class="crepeSort"><%= crepe.name %></span>
            <span class="price"><%= crepe.price.toFixed(2) %> €</span>
        </li>

        <% }); %>
    </ul>


</main>




<%- include('includes/footer') -%>