<%- include('includes/header') -%>

<section class="hero">
    <div class="hero-content">
        <h1 aria-label="KER ROZENN"></h1>
        <a href="/" class="hero-push-link">
            <img id="triskell" src="../assets/triskell.png" alt="logo triskell" />
        </a>
        <h2 id="punchline" class="subtitle">TA DOSE DE BRETAGNE QUODITIENNE</h2>
        <!-- <img id="bilic" src="../assets/headerConcours.png" alt="tirage-au-sort"> -->
    </div>

</section>

<main>
<h2><%= messageTitle %></h2>
<h2><%= messageContent %></h2>

</main>


<%- include('includes/footer') -%>