<%- include('includes/header') -%>




<h2>Les galettes</h2>
<main class="carteCrepes">

    <ul>
        <% galettes.forEach(function(galette) { %>
        <li>
            <span class="crepeSort"><%= galette.name %></span>
            <span class="price"><%= galette.price.toFixed(2) %> €</span>
        </li>

        <% }); %>
    </ul>
</main>




<%- include('includes/footer') -%>