<%- include('includes/header') -%>
<main>
    <h2>Mentions légales</h2>
<h3 id="dateMentions">En vigueur au 08/10/2023</h3>

 <section class="containerMentions">
<p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs, ci-après l""Utilisateur", du site rozenn@sitevraimentsuper.fr , ci-après le "Site", les présentes mentions légales.</p>

<p>La connexion et la navigation sur le Site par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.</p>

<p>Ces dernières sont accessibles sur le Site à la rubrique « Mentions légales ».</p>

<h3>ARTICLE 1 - L'EDITEUR</h3>

<p>L'édition du Site est assurée par NewMe SASA au capital de 1 euros, immatriculée au Registre du Commerce et des Sociétés de Nantes sous le numéro 91812256600034 dont le siège social est situé au 17 rue de la Resistance 44200 Nantes, 
Numéro de téléphone 0677554433, 
Adresse e-mail : newme@gmail.com.
N° de TVA intracommunautaire : FR91812256644
Le Directeur de la publication est Virginie GRALL
ci-après l'"Editeur".</p>

<h3>ARTICLE 2 - L'HEBERGEUR</h3>

<p>L'hébergeur du Site est la société PlanetHoster, dont le siège social est situé au 4416 Louis B. Mayer, Laval (Québec) H7P 0G1, Canada, , avec le numéro de téléphone : 0805080426 + adresse mail de contact</p>

<h3>ARTICLE 3 - ACCES AU SITE</h3>

<p>Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découlant d’une nécessité de maintenance.</p>

<p>En cas de modification, interruption ou suspension du Site, l'Editeur ne saurait être tenu responsable.</p>

<h3>ARTICLE 4 - COLLECTE DES DONNEES</h3>

<p>Le Site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.</p> 

<p>En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit :
par mail à l'adresse email rozenn@sitevraimentsuper.fr</p>
 
<p>Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site, sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</p>

</section>

<p id="legalPlace">Rédigé sur http://legalplace.fr</p>

</main>

<%- include('includes/footer') -%>