<%- include('includes/header') -%>
<div id="concours">
<img src="../assets/headerConcours.png" alt="tirage-au-sort">
</div>

</header>
<section>
<h2>CHAQUE PREMIERS LUNDI DU MOIS</h2>
<h2>Esssayez d'emporter un peu de Bretagne chez vous</h2>

</section>


<%- include('includes/footer') -%>